{% for repos in yum_local_repositories %}
[{{ repos.id }}]
name={{ repos.name }}
baseurl={{ repos.baseurl }}
{% if repos.gpgcheck is defined %}
gpgcheck={{ repos.gpgcheck }}
{% endif %}
{% if repos.enabled is defined %}
enabled={{ repos.enabled }}
{% endif %}
{% endfor %}